$primary-dark: #000;
$theme-blue: #007DFF;
$custom-bold: 'TacticSans-Blk', Arial, sans-serif;
$custom-b: 'TacticSans-Bld', Arial, sans-serif;
$custom-reg: 'TacticSans-Reg', Arial, sans-serif;

$ak06: #FF7F00;
$ak06hover: #FF6A00;

$at24: #E5AC00;
$at24hover: #D69A00;

$at27: #FF0000;
$at27hover: #B30000;

$tm01: #BB33FF;
$tm01hover: #660099;

$ep01bg: #FF33F7;
$ep01bghover: #CA00C2;

$teasier: #0092FC;

$ep01: linear-gradient(45deg, #BB33FF  0, #FF7F00 25%, #8AA9D6);
$ep01-bgimg: linear-gradient(45deg, #BB33FF, #FF7F00) 1;
$ep01-grad: linear-gradient(to right, #bb33ff 0%, #ff7f00 100%);

$bgbutton: #006AFF;
$bgbuttonhover: #0055CC;