.main-content {
    &.co-development {
        .block-about {
            .title-block {
                margin-bottom: 24px;
                font-weight: bold;
                font-size: 24px;
                line-height: 25px;
                text-align: right;
                @include media('large') {
                    font-size: 48px;
                    line-height: 56px;
                }
            }
            .link-more {
                margin-right: 12px;
                margin-bottom: 12px;
                @include media('large') {
                    margin-right: 24px;
                    margin-bottom: 24px;
                }
            }
        }
        .our-tech_innovation {
            padding-top: 24px;
            @include media('large') {
                padding-top: 48px;
            }
            .innovation-list {
                flex-wrap: wrap;
                flex-direction: row-reverse;
                @include media('small') {
                    flex-wrap: nowrap;
                }
                h4 {
                    text-align: right;
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 35px;
                    color: $bgbutton;
                    margin-bottom: 4px;
                    text-align: center;
                    @include media('large') {
                        font-size: 72px;
                        line-height: 96px;
                        text-align: left;
                    }
                }
                .co-development_info {
                    display: flex;
                    color: $bgbutton;
                    align-items: flex-end;
                    margin-bottom: 12px;
                    justify-content: center;
                    flex-direction: row-reverse;
                    @include media('large') {
                        margin-bottom: 24px;
                    }
                    h4 {
                        margin-bottom: 0;
                    }
                    @include media('large') {
                        justify-content: flex-start;
                    }
                    span {
                        font-weight: 900;
                        font-size: 24px;
                        margin-right: 12px;
                        display: inline-block;
                    }
                }
                .innovation-item {
                    text-align: right;
                    p {
                        text-align: right;
                    }
                    @include media('large') {
                        flex-basis: 288px;
                    }
                }
            }
        }
        .have-idea {
            padding-bottom: 24px;
            @include media('medium') {
                padding-bottom: 36px;
            }
            @include media('large') {
                padding-bottom: 72px;
            }
        }
        .have-idea_container {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding-top: 24px;
            padding-bottom: 24px;
            @include media('large') {
                padding-top: 36px;
                padding-bottom: 48px;
            }
            .have-idea_title {
                font-weight: 900;
                font-size: 18px;
                line-height: 26px;
                color: #fff;
                text-align: right;
            }
            .have-idea_desc {
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                margin-bottom: 24px;
                @include media('large') {
                    margin-bottom: 48px;
                }
            }
            .codev-form {
                input ,
                textarea,
                select{
                    width: 100%;
                    margin-bottom: 12px;
                    @include media('large') {
                        margin-bottom: 24px;   
                    }
                }
                input ,
                textarea {
                    padding: 12px;
                    font-size: 15px;
                    line-height: 17px;
                    color: #999999;
                    border-radius: 6px;
                    height: auto;
                    @include media('large') {
                        padding: 14px 24px;
                        font-size: 16px;
                        line-height: 18px;
                    }
                }
                input::placeholder {
                    color: #999999;
                }
                textarea {
                    resize: none;
                    &:focus {
                        outline: none;
                    }
                }
                .codev-title_form {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
            }
        }
        .capabilities {
            padding-top: 24px;
            padding-bottom: 24px;
            background-color: #F8F9FC;
            @include media('large') {
                padding-top: 48px;
                padding-bottom: 48px;
            }
            .item-capabilities {
                margin-bottom: 24px;
                img {
                    margin-bottom: 16px;
                }
                h4 {
                    text-align: right;
                }
                h3 {
                    margin-bottom: 12px;
                }
                p {
                    margin-bottom: 8px;
                    @include media('large') {
                        margin-bottom: 24px;
                    }
                }
            }
        }
        .codev-wrapp {
            padding-top: 24px;
            padding-bottom: 24px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding-right: 24px;
            @include media('large') {
                padding-top: 48px;
                padding-bottom: 48px;
            }
            .resume-cv_label {
                background-color: transparent;
                color: #fff;
                i {
                    transition: .3s;
                    color: #fff;
                }
            }
            .send-cv {
                background-color: $bgbutton;
                &:hover {
                    background-color: $bgbuttonhover;
                }
            }
            .footer-form_btn {
                width: initial;
                background-color: transparent;
                align-self: center;
                @include media('extra') {
                    margin-left: 12px;
                }
                @include media('large') {
                    margin-left: 24px;
                }
                &:hover {
                    opacity: .7;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .footer-form {
            display: none;
            .callback-form {
                display: flex;
            }
            &.modal-callback {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.4);
                z-index: 9999;
                justify-content: center;
                align-items: center;
                overflow-y: auto;
            }  
        }
        .add-doc {
            padding-top: 12px;
            padding-bottom: 24px;
            @include media('large') {
                padding-top: 24px;
                padding-bottom: 48px;
            }
        }

    }
}